body {
	background-color: #90B0B0;
}

.timestamp {
	color: lightblue;
}

.section {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 5px;
	background-color: snow;
}

.twitterHandle {
	font-weight: bold;
}